.project{
  padding: 60px 0 ;
  &__row{
    display: flex;
    column-gap: 110px;
  }
  &__title{

    font-family: Liberation Serif sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 154px;

  }
  &__subtitle{
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 35px;
  }
  &__info{
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
  }
}